body.body {background-color:#E8E8E8;}
nav.menu {font-size:150%;
			text-align:center;
			border: 2px solid black;
			border-radius: 5px;}
h1.h11 {
	padding-top: 2%;
	text-align:center;
}

* {
  margin: 0%;
  padding: 0%;
}
section.introducion {background-color:#FFFFFF;}
section.basico {background-color:#c08fff;}
section.etiquetas {background-color:#afc5ff;}
section.atributos {background-color:#b4ff86;}

article.article01{margin-left: auto;
		margin-right: auto;
		}
.go-top {
	  position: fixed;
	  bottom: 2em;
	  right: 2em;
	  text-decoration: none;
	  color: #fff;
	  background-color: rgba(0, 0, 0, 0.3);
	  font-size: 12px;
	  padding: 1em;
	  display: none;
	}
	 
.go-top:hover {
	  background-color: rgba(0, 0, 0, 0.6);}